.container {
	width: 90%;
}

.gifButton, #addSubject {
	border: none;
	color: #000000;
}

.gifButton {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px; 
	border: 1px solid #000000;
}

.redButton {
	background-color: #ff0000;
	color: #ffffff;
}

.blueButton {
	background-color: #0000ff;
	color: #ffffff;
}

.greenButton {
	background-color: #008000;
	color: #ffffff;
}

.yellowButton {
	background-color: #ffff00;
	color: #000000;
}

.brownButton {
	background-color: #4d2600;
	color: #ffffff;
}

.greyButton {
	background-color: #808080;
	color: #ffffff;
}

.cyanButton {
	background-color: #00ffff;
	color: #000000;
}

.purpleButton {
	background-color: #800080;
	color: #ffffff;
}

.orangeButton {
	background-color: #ffa500;
	color: #ffffff;
}

.pinkButton {
	background-color: #ffc0cb;
	color: #000000;
}

.selectedButton {
	background-color: #000000;
	color: #ffffff;
}

#gifContainer > div {
	float: left;
	clear: none;
	margin-right: 10px;
	margin-bottom: 10px;
}